.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  color: var(--text-primary-color);
  background-color: var(--background-alt);
}

.title {
  width: 100%;
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
}

.main {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  width: 1240px;
  min-height: 0;
  margin: 0 auto;
  overflow: hidden;
}

.placeholder {
  flex: 1 1 auto;
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 400px;
}
